<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="mvx.samples.validation" android:versionCode="100" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<application android:label="MvxSamples Validation" android:icon="@drawable/Icon" android:theme="@style/AppTheme">
		<meta-data android:name="io.fabric.ApiKey" android:value="306eff6c130051a145ea14f24f52981864187245" />
	</application>
</manifest>