<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ideine.ModernHttpClient" version="3.0.2" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross" version="5.2.0" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Binding" version="5.2.0" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Core" version="5.2.0" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Platform" version="5.2.0" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Plugin.DownloadCache" version="5.2.0" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Plugin.File" version="5.2.0" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Plugin.Messenger" version="5.2.0" targetFramework="portable46-net451+win81" />
  <package id="MvvmValidation" version="3.1.0-beta2" targetFramework="portable46-net451+win81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable46-net451+win81" />
  <package id="sqlite-net-pcl" version="1.5.166-beta" targetFramework="portable46-net451+win81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="portable46-net451+win81" />
  <package id="SQLitePCLRaw.core" version="1.1.9-pre20170905093404" targetFramework="portable46-net451+win81" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="portable46-net451+win81" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="Xam.Plugin.Connectivity" version="4.0.0-beta139" targetFramework="portable46-net451+win81" />
  <package id="Xam.Plugins.Settings" version="3.1.0-beta103" targetFramework="portable46-net451+win81" />
</packages>